@font-face {
    font-family: "PT Sans";
    src: url("./fonts/PTSans-Bold.woff2") format("woff2"),
    url("./fonts/PTSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("./fonts/PTSans-Regular.woff2") format("woff2"),
    url("./fonts/PTSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: #F2F2F2;
    min-height: 100%;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.shadow-container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-container-inner {
    margin: 0 auto;
    max-width: 1060px;
    width: 100%;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}


.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 8px 15px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    background: #756257;
    border-radius: 4px;
    border: 0;
}

.navigation-button {
    width: 160px;
    height: 37px;
    margin-left: 20px;
    margin-top: 14px;
    margin-bottom: 19px;
}

/*Блок Navigation*/

.navigation {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 65px;
}

.navigation-logo-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: fit-content;

}

.navigation-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    max-width: 355px;
    margin-left: 239px;
    justify-content: center;
    align-items: center;
}

.navigation-user {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 264px;
    margin-left: auto;
}

.navigation-link {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    width: fit-content;
    padding-bottom: 16px;

}

.navigation-link-current::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #756257;
    content: "";
}

.navigation-link-current-catalog::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #756257;
    content: "";
}

/*Блок Promo*/

.promo-container {
    display: flex;
    flex-direction: column;
    padding-top: 63px;
    padding-bottom: 80px;
    align-items: center;
    justify-content: center;

}

.promo-img {
    width: 100%;
}

.promo-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    max-width: 720px;
    margin-bottom: 31px;
}

.promo-text {
    max-width: 720px;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #333333;
}

/*Блок Advantages */

.advantages-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.wrapper-card {
    display: flex;
    flex-wrap: wrap;
}

.advantages-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding-top: 97px;
    padding-bottom: 87px;
    background-color: #83B3D3;
}

.advantages-card-2 {
    order: 2;
}

.advantages-card-list {
    display: flex;
    flex-wrap: wrap;
}

.advantages-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 400px;
}

.advantages-card-number {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 250px;
}

.advantages-card-text {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    max-width: 220px;
}

.advantages-card-img img {
    height: 100%;
}

/*Внутренние списки Inner*/
.advantages-list-inner {
    display: flex;
    flex-wrap: wrap;
}

.advantages-card-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    width: 400px;
    padding: 75px;
    padding-top: 89px;
}

.advantages-card-inner-last {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 400px;
    padding: 75px;
    padding-top: 89px;
}

.advantages-card-inner-1 {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-card-inner-2 {
    background-color: #FFFFFF;
}

.advantages-card-inner-3 {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-card-inner-bg {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-card-inner-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    max-width: 400px;
}

.advantages-card-inner-text {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    max-width: 250px;
}

/*Блок Hotel search*/
.hotel-search-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 91px;
    padding-bottom: 93px;
}

.hotel-search-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    max-width: 720px;
    margin-bottom: 29px;
}

.hotel-search-text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    max-width: 720px;
    margin-bottom: 56px;
}

.hotel-search-button {
    width: 575px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*Блок Subscription*/

.subscription-container {
    padding: 95px 0;
    background-image: url("./images/form-background.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.subscription-container-catalog {
    padding: 95px 0;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
}

.subscription-form {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

.subscription-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.subscription-title-catalog {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 30px;
}

.subscription-text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 46px;
}

.subscription-text-catalog {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    margin-bottom: 46px;
}

.subscription-form {
    display: flex;
}

.subscription-field {
    background: #F2F2F2;
    border-radius: 10px 0 0 10px;
    max-width: 600px;
    width: 100%;
    border: none;
    padding: 23px 22px;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
    color: #000000;
}

input::placeholder {
    font-size: 18px;
    line-height: 26px;
    align-items: center;
    color: #000000;
    opacity: 0.6;
}

.subscription-button {
    background: #83B3D3;
    border-radius: 0 10px 10px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 200px;
    border: none;
    padding: 19px 0;
}

/*Блок Footer*/
.footer-container {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.footer-contacts-phone {
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
    max-width: 720px;
}

.footer-social {
    display: flex;
    align-items: center;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-social-item {
    width: 20px;
}

.footer-social-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-logo-link {
    display: flex;
    align-items: center;
    width: fit-content;
}

/*Страница Каталог*/

/*Блок Filter*/

.catalog-background {
    background-image: url("./images/catalog-background.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 83px;
}

.catalog-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 5px;
}

/*Breadcrumbs*/

.breadcrumbs-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.breadcrumbs-link {
    color: inherit;
}

.breadcrumbs-item {
    position: relative;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin-right: 25px;
}

.breadcrumbs-item::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -16px;
    width: 5px;
    height: 8px;
    background-image: url("./icons/catalog-arrow-right.svg");
    background-repeat: no-repeat;
    content: "";
}

.breadcrumbs-item:last-child::after {
    content: none;
}

/*Catalog-filter*/

.filter {
    margin-bottom: 44px;
}

.catalog-filter {
    display: flex;
}

.catalog-filter-group {
    margin: 0;
    padding: 0;
    border: none;
}

.catalog-filter-group-infrastructure {
    margin-right: 67px;
}

.catalog-filter-group-pricing {
    max-width: 287px;
    margin-left: auto;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
    color: #FFFFFF;
}

.catalog-filter-title-infrastructure {
    margin-right: 67px;
}

.catalog-filter-title-housing {
    width: 100%;
}

.catalog-filter-group-pricing {
    margin-right: 81px;
}

.catalog-filter-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.catalog-filter-item {
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.catalog-filter-label {
    position: relative;
    width: 100%;
    color: #ffffff;
}

.catalog-filter-label::after {
    content: "от";
    position: absolute;
    right: 14px;
    top: 50%;
    opacity: 0.3;
    transform: translateY(-50%);
}

.catalog-filter-label:last-child::after {
    content: "до";
}

.catalog-filter-button {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 160px;
    margin-top: auto;
}

/*Button*/

.button-apply {
    line-height: 16px;
    background-color: #83B3D3;
    padding: 16px 35px;
}

.button-reset {
    display: inline-block;
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    max-width: 160px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    text-transform: none;
    color: #FFFFFF;
    cursor: pointer;
}

/*Control*/

.control {
    position: relative;
    display: block;
    margin-left: 39px;
}

.control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    right: 20px;
    bottom: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-left: -39px;
    background: #FFFFFF;
}

.control-input:checked + .control-mark {
    background-color: #FFFFFF;
    background-image: url("./icons/catalog-checked.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.control-mark-radio {
    border-radius: 50%;
}

.control-input:checked + .control-mark-radio {
    background-color: #FFFFFF;
    background-image: url("./icons/catalog-radio.svg");
    background-repeat: no-repeat;
}

/*Range*/

.range {
    position: relative;
    width: 100%;
    height: 20px;
    max-width: 287px;
    display: flex;
    align-items: center;
}

.range-scale {
    position: relative;
    width: 287px;
    height: 4px;
    background-color: #ffffff;
    opacity: 0.3;
}

.range-bar {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    transform: translateY(-50%);
    background-color: #ffffff;
}

.range-toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.range-wrapper-inputs {
    display: flex;
    margin-bottom: 20px;
}

.range-input {
    top: 0;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    background: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    appearance: textfield;
    width: 100%;
    margin: 0;
    padding: 14px 40px 11px 19px;
}

/* Remove arrows for input type number */
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.range-input[type=number] {
    -moz-appearance: textfield;
}

.range-input-left {
    border-right: 0;
    border-radius: 4px 0 0 4px;
}

.range-input-right {
    border-radius: 0 4px 4px 0;
}

/*.range-toggle:hover {*/
/*    background-color: #dbb590;*/
/*}*/

/*.range-toggle:active,*/
/*.range-toggle:focus {*/
/*    outline: 3px solid #dbb590;*/
/*}*/

/*Блок Sorting*/

.sorting {
    margin-bottom: 53px;
}

.sorting-container {
    display: flex;
}

.sorting-title {
    font-size: 30px;
    line-height: 39px;
    margin-right: 191px;
}

.select {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 287px;
    margin-right: auto;
}

.select-control {
    width: 100%;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    padding: 13px 19px;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    background-image: url("./icons/catalog-arrow-dropdown.svg");
    background-repeat: no-repeat;
    background-position: right 19px center;
    appearance: none;
}

.card-grid-toggle-wrapper {
    display: flex;
    gap: 8px;
}

.card-grid-toggle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.card-grid-toggle-current {
    border: 2px solid #000000;
    border-radius: 4px
}

/*Блок Product */

.product {
    margin-bottom: 34px;
}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 18px;
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
    width: 340px;
    padding: 20px;
}

.product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

.product-card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;
}

.product-card-text {
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    padding: 0;
    margin: 0;
}

.product-card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.product-card-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 140px;
    width: 100%;
    background-color: #756257;
    border-radius: 4px;
}

.product-card-btn-fav {
    background: #83B3D3;
}

.product-card-btn-fav-on {
    background-color: #7DB54F;
}

.product-card-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card-rating-img-wrapper {
    display: flex;
    gap: 7px;
}


.product-card-rating-text {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color: #F2F2F2;
    border-radius: 4px;
    padding: 10px 33px;
}

/*Блок Load more*/

.load-more {
    margin-bottom: 30px;
}

.button-load-more {
    display: block;
    margin: 30px auto;
    max-width: 620px;
    width: 100%;
    padding: 17px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    background-color: #83B3D3;
}

.load-more hr {
    padding: 0;
    margin: 0;
    border: 1px solid #E6E6E6;
}

/*Блок Pagination*/

.pagination-container {
    display: flex;
    justify-content: space-between;
}

.pagination-list {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: #83B3D3;
    border-radius: 4px;
}

.pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.pagination-current {
    background-color: #F2F2F2;
}

.pagination-link-one {
    color: #000000;
}

.elements {
    display: flex;
    /*max-width: 390px;*/
    /*width: 100%;*/
    /*gap: 51px;*/
    align-items: center;
    margin-left: auto;
}

.elements-text {
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    width: 100%;

}

.elements-type {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.select-elements {
    max-width: 160px;
    width: 100%;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    padding: 13px 17px;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    background-image: url("./icons/catalog-arrow-dropdown.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
    appearance: none;
}